
#******************************

export(bglm) 
export(bcoxph)
export(bpolr)
export(bmlasso)
export(glmNet)

export(summary.bh)
export(plot.bh)

export(measure.bh)
export(measure.glm)
export(measure.cox)
export(measure.polr)
export(cv.bh)

export(mc.adj)
export(df.adj)

export(covariates)
export(make.main)
export(make.inter)

export(geno.freq)

export(NegBin)

export(sim.x)
export(sim.y)
export(sim.eta)
export(sim.out)

export(surv.curves)
export(aucCox)
export(peCox)

#************************************








